* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

header {
  background-color: orchid;
  width: 100%;
  height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

footer {
  background-color: orchid;
  width: 100%;
  height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/* header and footer hover stuff*/
.trans {
  transition-duration: 6s;
}

.trans:hover {
  background-color: #2196f3;
  transition-duration: 6s;
}

.a {
  height: 450px;
  width: 450px;
  border: 10px solid #2196f3;
  border-radius: 40px;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-evenly;
}

/* hover bars*/
.bars1 {
  width: 25px;
  height: 175px;
  border-radius: 10px;
  padding: 20px;
  background-color: orchid;
  transition-duration: 12s;
}

.bars2 {
  width: 25px;
  height: 375px;
  border-radius: 10px;
  padding: 20px;
  background-color: orchid;
  transition-duration: 12s;
}

.bars1:hover {
  background-color: #2196f3;
  transition-duration: 1s;
  cursor: pointer;
  height: 375px;
}

.bars2:hover {
  background-color: #2196f3;
  transition-duration: 1s;
  cursor: pointer;
  height: 175px;
}

.b {
  height: 450px;
  width: 450px;
  border: 5px dashed 0;
  border-radius: 40px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  align-content: center;
}

.bigb {
  height: 45%;
  width: 100%;
  border: 10px solid #2196f3;
  border-radius: 40px;
  margin-bottom: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* slider stuff */
.slidecontainer {
  width: 90%;
}

.slider::-webkit-slider-thumb {
  /*little slider handles*/
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer; /* Cursor on hover */
}

.slider {
  appearance: none;
  width: 100%;
  height: 20px;
  background: orchid;
  border-radius: 10px;
  outline: none;
  transition-duration: 6s;
}

.slider:hover {
  background: #2196f3;
  transition-duration: 2s;
}

.smallb {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border: 5px dashed 0;
  border-radius: 20px;
  height: 220px;
  gap: 20px;
}
.smallb1 {
  height: 100%;
  width: 50%;
  border: 10px solid #2196f3;
  border-radius: 40px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.smallb1a {
  height: 100%;
  width: 50%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.smallb1b {
  height: 100%;
  width: 50%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* toggle stuff */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orchid;
  transition-duration: 6s;
  border-radius: 20px;
}
.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition-duration: 1s;
  border-radius: 20px;
}

input:checked + .toggle {
  background-color: #2196f3;
  transition-duration: 2s;
}
input:checked + .toggle:before {
  transform: translateX(26px);
}

.smallb2 {
  height: 100%;
  width: 50%;
  border: 10px solid #2196f3;
  border-radius: 40px;
  justify-content: space-evenly;
  align-items: center;
}

/* the big hover button */
.button {
  appearance: none;
  height: 80%;
  width: 80%;
  border: 0;
  background-color: orchid;
  border-radius: 20px;
  transition-duration: 12s;
  cursor: pointer;
}

.button:hover {
  background-color: #2196f3;
  transition-duration: 1.6s;
}

/*desktop*/
@media screen and (min-width: 1020px) {
  main {
    flex-direction: row;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

/*tablet*/ /*i know this is a weird workaround but this is the only way i could get it to cooperate with me*/
@media screen and (max-width: 1020px) and (min-width: 768px) {
  main {
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

/*mobile*/
@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .hide {
    display: none;
  }
}
